@font-face
{
    font-family: "regular";
    src: url("fonts/proggy.ttf");    
}
@font-face
{
    font-family: "header";
    src: url("fonts/GrapeSoda.ttf");    
}

html
{
    padding: 0;
    margin: 0;
    image-rendering: pixelated;
}


body
{
    font-family: "regular";
    padding: 0;
    margin: 0;
    color: #371b20;
    background-color: #222034;
    /*
    background-image: url("bg.png");
    background-repeat: repeat;
    image-rendering: pixelated;
     */
}


header
{
}

h1,h2,h3
{
    font-family: "header";
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

#SiteHead
{
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}

#crt
{
    border-width: 13px;
    border-style: solid;
    border-image: url("Images/BorderCRT.png");
    border-image-slice: 13 fill;
    border-image-repeat: round;
    image-rendering: pixelated;

    color: white;
}
#osWindow
{
    /*top right bottom left*/
    border-width: 32px 70px 32px 32px;
    border-style: solid;
    border-image: url("Images/OSWindow.png");
    border-image-slice: 32 70 32 32 fill; 
    border-image-repeat: round;
    image-rendering: pixelated;
}
#hole
{
    border-width: 24px;
    border-style: solid;
    border-image: url("Images/BorderHole.png");
    border-image-slice: 24 fill;
    border-image-repeat: round;
    image-rendering: pixelated;
    color: #d8c1a6;
}
#wood
{
    width: 480px;
    margin: 0 auto;
    border-width: 24px;
    border-style: solid;
    border-image: url("Images/BorderWood.png");
    border-image-slice: 24 fill;
    border-image-repeat: round;
    image-rendering: pixelated;
}



#paper
{
    border-width: 16px;
    border-style: solid;
    border-image: url("T_Border2.png");
    border-image-slice: 16 fill;
    border-image-repeat: round;
    image-rendering: pixelated;
}

a.button
{
    border-width: 8px;
    border-style: solid;
    border-image: url("T_Border2.png");
    border-image-slice: 8 fill;
    border-image-repeat: round;
    image-rendering: pixelated;
}

a:hover
{
    top: 10px
}



